apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: mulenokv-namespace
images:
- name: nginx
  newName: nginx
  newTag: 1.23.2-alpine
- name: sample-app
  newName: mulenokv/sampleapp
  newTag: 432023d3dfe3dcce316679555af0f3fe3704f150
- name: sampleapp
  newTag: main

resources:
- ../../base
- namespace.yml
- ingress.yml
- certificate.yml
